page-home {
    .camaraIcon {
        font-size: 60px; //Preferred size here
    }
    .battery{
        font-size: 210%;
        color: map-get($colors, primary);
        margin-right: 2%;
        
    }
    .battetyState{
        display: flex;
        margin-bottom: 10px;
    }

    .camera{
        margin-top: 20px;
    }

    
    
 
        .progress-outer {
            width: 40%;
            
            padding: 3px;
            text-align: center;
            background-color: #f4f4f4;
            border: 1px solid #dcdcdc;
            color: #fff;
            border-radius: 20px;
        }
     
        .progress-inner {
            min-width: 15%;
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            border-radius: 20px;
            background-color: map-get($colors, primary);
        }
     
    
}
